* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #eee;
}
.container {
  width: 80%;
  margin: 0 auto;
  background-color: #e4f9f5;
  padding: 5px;
}
h1,
h2,
h5 {
  color: #11999e;
  margin: 0 auto;
}
h4 {
  color: teal;
  margin: 0 auto;
}
h3 {
  color: blue;
}

/* -------------------------------------
            header CSS START
---------------------------------------*/
.profile-img {
  height: 120px;
  width: 100px;
  border: 3px solid white;
  border-radius: 50%;
  margin: 10px;

  float: left;
}
.header-bio {
  margin-top: 30px;
  padding: 0px 20px;
  float: left;
}
.header-contact {
  float: right;
  margin-top: 30px;
}
.header-contact a {
  text-decoration: none;
  color: teal;
  font-weight: bold;
}
.header-contact a:hover {
  text-decoration: underline;
  color: tomato;
}
.div-clear {
  clear: both;
}
hr {
  border: 3px solid black;
  border-bottom: none;
  width: 100%;
  margin: 10px auto;
}
main {
  margin: 0 10px;
}
/* -------------------------------------
            header CSS End
---------------------------------------*/
/* -------------------------------------
            personal information CSS start
---------------------------------------*/

.personal-information {
}
.content {
}
.left-div {
  float: left;
  width: 30%;
}
.left-div h3::first-letter {
  font-size: 1.5rem;
}
.right-div {
  float: left;
  width: 70%;
}
.right-div p::first-letter {
  font-weight: bold;
}
.common-hr {
  border: 1px solid black;
  border-bottom: none;
  width: 100%;
  margin: 20px auto;
}
/* -------------------------------------
            personal information CSS END
---------------------------------------*/

/* -------------------------------------
        Work Experience Start
---------------------------------------*/

.right-div ul {
  margin-top: 10px;
  list-style-type: disclosure-closed;
  list-style-position: inside;
}

/* -------------------------------------
        Work Experience END
---------------------------------------*/

/* -------------------------------------
        Certification START
---------------------------------------*/
#certification{}
#certification .right-div ul {
    margin-top: 10px;
  list-style-type: square;
  list-style-position: inside;
}

/* -------------------------------------
        Certification END
---------------------------------------*/

#projects .right-div ul{
    
    list-style-type: circle;
    list-style-position: inside;
  }
  #projects .right-div li::first-letter{
      font-weight: bold;
  }
/* -------------------------------------
        EDUCATION Start
---------------------------------------*/
  .education-right, .certification-right{
      float: left;
      width: 45%;
  }
  .education-left, .certification-left{
      float: left;
      width: 45%;
  }

  /* -------------------------------------
        EDUCATION END
---------------------------------------*/


  /* -------------------------------------
        Footer START
---------------------------------------*/
.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.bottom-container a{
    text-decoration: none;
    color: white;
    
    margin: 20px;
    
}
.bottom-container p{
    color: white;
    margin-top: 20px;
}
.bottom-container a:hover{
    background-color: #11999e;
    color: black;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
}


  /* -------------------------------------
        Footer END
---------------------------------------*/
